:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --background-style-color: #ffffff;
  --primary-button-color: #4d5ae5;
  --active-button-color: #404bbf;
  --design-element: #f4f4fd;
  --border-box: #e7e9fc;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-style-color);
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
p {
  max-width: 496;
  margin-left: auto;
  margin-right: auto;
}

.conteiner {
  outline: solid red;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* defolt class */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo*/

.navigation-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  margin-right: 76px;

  color: var(--primary-button-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-logo-studio {
  color: var(--title-text-color);
}

/* navigation */

.nav-items {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-button-color);
}

/* address  */
.header-address {
  padding-top: 24px;
  padding-bottom: 24px;
}
.outh-nav {
  display: flex;
}

.outh-item:not(:last-child) {
  margin-right: 40px;
}

.outh-link {
  display: block;
  border: none;

  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 40px;
}
.outh-link:hover,
.outh-link:focus {
  color: var(--active-button-color);
}

/* hero */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin-top: 0;
  margin-bottom: 0;

  background-color: var(--title-text-color);
  text-align: center;
}

.hero-conteiner {
  max-width: 496px;
  padding: 0;
  margin: auto;
  margin-bottom: 48px;
}

.hero-subject {
  color: var(--background-style-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/*hero btn */

.hero-btn {
  padding: 16px 32px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  line-height: 60px;

  background-color: var(--primary-button-color);
  color: var(--background-style-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-button-color);
  color: var(--background-style-color);
}

/* section */
.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

/* work-section  */
.work-section {
  padding-top: 0;
  padding-bottom: 117px;
}

.work-list {
  display: flex;
  align-items: flex-start;
  padding: 0px;
}

.work-item:not(:last-child) {
  margin-right: 24px;
}
/* section 4 */
.section-individual {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--design-element);
}

.individual-lists {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 120px;
}

.teacher-list {
  background-color: var(--background-style-color);
}

.teacher-list:not(:last-child) {
  margin-right: 24px;
}

.img-list {
  margin-bottom: 32px;
}
.teacher-list > p {
  margin-bottom: 8px;
}

.teacher-list > p {
  margin-bottom: 32px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-feature {
  margin-top: 0;
  margin-bottom: 0px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

/* footer     */
.futer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-futer {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--primary-button-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.title-studio {
  color: var(--design-element);
}
.box-text {
  margin: 0;
  color: var(--design-element);
  font-size: 16px;
  line-height: 1.5;
}

/* porfolio */

.filters-items {
  outline: solid red;

  display: flex;

  padding: 0px;
  gap: 24px;

  width: 586px;
  margin-top: 0;
  margin-right: 427px;
  margin-bottom: 72px;
  margin-left: 427px;

  flex-direction: row;
  align-items: center;
}

.btn-link {
  display: flex;
  margin: 0;
  align-items: center;
  border: 1px solid var(--border-box);
  border-radius: 4px;

  background-color: var(--design-element);
  color: var(--primary-button-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.ntn-link:not(:last-child) {
  margin-right: 12px 24px;
}

.btn-link:hover,
.btn-link:focus {
  background-color: var(--active-button-color);
  color: var(--background-style-color);
  border: none;
}

.section-filtr {
  background-color: blueviolet;
}

.portfolio-text {
  margin: 0;
  padding: 0;
}
/* position */
